* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.environment {
    width: 100vw;
    height: 100vh;
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller-wrapper {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BBBBBB;
}

.strap {
    width: 150px;
    height: 300px;
    background: rgb(70, 70, 70);
    border-radius: 200px / 300px;
    -webkit-border-radius: 200px / 300px;
    -moz-border-radius: 200px / 300px;
}

.rotate-wrapper {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
}

.rotate-button-wrapper {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

.scale-div {
    transform: scaleX(-1) rotate(-20deg);
    -webkit-transform: scaleX(-1) rotate(-20deg);
    -moz-transform: scaleX(-1) rotate(-20deg);
}

.button-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    position: relative;
    right: 20px;
}

.sub-buttons {
    width: 100px;
    height: 10px;
    position: relative;
    left: 25px;
    background-color: red;
}

/* .strap::before {
    background: white;
    position: absolute;
    content: "";
    left:0;
    right:0;
    bottom: -25px;
    height: 50px;
    border-radius: 50% 50% 0 0;
} */